<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="fragmentContent">
    <div class="container" style="font-family: 'Oswald', sans-serif; color: #12044F;margin-top: 125px;margin-bottom: 100px;">
        <div class="text-center text-uppercase">
            <h3 th:text="${'Book Form'}"></h3>
            <hr>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <form class="mt-3" method="POST" id="bookForm" th:object="${book}" >
                    <div class="mb-3">
                        <label class="form-label" th:text="${'Book Name:'}"></label>
                        <input type="text" class="form-control" id="name" name="name" th:placeholder="${'Enter Book Name'}"  />
                        <span class="text-danger" id="nameError" th:text="${'Not Empty!Max 50 letters allowed!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Publisher:'}"></label>
                        <input type="text" class="form-control" id="publisher" name="publisher" th:placeholder="${'Enter Publisher'}"  />
                        <span class="text-danger" id="publisherError" th:text="${'Not Empty!Max 40 letters allowed!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Author:'}"></label>
                        <input type="text" class="form-control" id="author" name="author" th:placeholder="${'Enter Author'}"  />
                        <span class="text-danger" id="authorError" th:text="${'Not Empty!Max 40 letters allowed!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Description:'}"></label>
                        <input type="text" class="form-control" id="description" name="description" th:placeholder="${'Enter Short Description'}"  />
                        <span class="text-danger" id="descriptionError" th:text="${'Not Empty!Max 90 letters allowed!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Language:'}"></label>
                        <input type="text" class="form-control" id="language" name="language" th:placeholder="${'Enter Language'}"  />
                        <span class="text-danger" id="languageError" th:text="${'Not Empty!Max 30 letters allowed!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Published Year:'}"></label>
                        <input type="text" class="form-control" id="publishedYear" name="publishedYear" th:placeholder="${'Enter published year'}" th:onkeydown="return validateNumber(event)"  />
                        <span class="text-danger" id="publishedYearError" th:text="${'Please provide valid year!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Page Number:'}"></label>
                        <input type="text" class="form-control" id="pageNumber" name="pageNumber" th:placeholder="${'Enter page number'}" th:onkeydown="return validateNumber(event)"  />
                        <span class="text-danger" id="pageNumberError" th:text="${'Please provide valid number!Min 10!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Price:'}"></label>
                        <input type="text" class="form-control" id="price" name="price" th:placeholder="${'Enter book price'}" th:onkeydown="return validateNumber(event)"  />
                        <span class="text-danger" id="priceError" th:text="${'Please provide valid price!Min 5!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Book Cover:'}"></label>
                        <select class="form-select" id="cover" name="cover" >
                            <option th:value="''" th:text="${'Please Select'}"></option>
                            <option th:each="tempCover : ${book.covers}" th:value="${tempCover}" th:text="${tempCover}"></option>
                        </select>
                        <span class="text-danger" id="coverError" th:text="${'Please select book cover!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Book Letter:'}"></label>
                        <select class="form-select" id="letter" name="letter" >
                            <option th:value="''" th:text="${'Please Select'}"></option>
                            <option th:each="tempLetter : ${book.letters}" th:value="${tempLetter}" th:text="${tempLetter}"></option>
                        </select>
                        <span class="text-danger" id="letterError" th:text="${'Please select book letter!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="${'Book Genre:'}"></label>
                        <select class="form-select" id="genreId" name="genreId" >
                            <option th:value="''" th:text="${'Please Select'}"></option>
                            <option th:each="tempGenre : ${allGenres}" th:value="${tempGenre.id}" th:text="${tempGenre.name}"></option>
                        </select>
                        <span class="text-danger" id="genreIdError" th:text="${'Please select book genre!'}" style="visibility: hidden"></span>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-info" th:text="${'Submit'}" th:onclick="storeBook()"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>



