<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="fragmentContent">

	<div class="container" style="margin-bottom: 100px;margin-top: 125px;font-family: 'Oswald', serif;">
        <div class="p-5 bg-dark text-white text-center rounded">
            <h1>Invalid Cart</h1>
            <h5>Please add products in your cart</h5>
        </div>

        <div class="text-center mt-5">
            <button class="btn btn-primary" th:onclick="redirectAllBooks()">All Books</button>
        </div>
    </div>
	
</th:block>